body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 5px;
}

.draggable {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
    resize: both;
    overflow: auto;
}


.droppable {
    min-height: 200px;
    border: 2px dashed #ccc;
    margin-top: 20px;
    padding: 10px;
    resize: both;
    overflow: auto;
}

.resizable {
    resize: both; /* Allows resizing both width and height */
    overflow: auto; /* Must be 'auto', 'scroll', or 'hidden' for resize to work */
    border: 1px solid #ccc; /* Just to show the boundaries of the element */
    min-height: 30px; /* Minimum height */
    min-width: 30px; /* Minimum width */
}
